/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*======================================
  body
  ======================================
*/
body {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

li {
  padding: 3% 0 3% 0;
  font-weight: bolder;
}

.side {
  border-right: 1px solid #c0b283;
  color: #af9d61;
  float: left;
  margin: 4% 0 0 5%;
  padding: 0 2% 0 2%;
  height: 500px;
  width: 20%;
}

.sections {
  color: rgba(55, 55, 55, 0.6);
  float: left;
  margin: 4%;
  width: 55%;
}

.project {
  margin: 2% 0 2% 0;
  word-wrap: break-word;
}

h1 {
  margin: 2% 0 0 7%;
  color: rgba(55, 55, 55, 0.7);
  font-size: 30px;
}


h2 {
  border-bottom: 1px solid rgba(55, 55, 55, 0.3);
  color: rgba(55, 55, 55, 0.7);
  font-size: 27px;
  padding-bottom: 1%;
}

h3 {
  color: rgba(55, 55, 55, 0.7);
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 1%;
  padding-bottom: 1%;
}

p {
  font-weight: lighter;
}

.about p {
  color: rgb(55, 55, 55);
  text-align: justify;
}

/*===================================================
link
=====================================================*/

a:link {
  text-decoration: none;
}

a:visited {
  color: #af9d61;
}

a:hover {
  color: rgba(55, 55, 55, 0.7);
}
